* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html body {
    height: 100%;
    width: 100%;
}

/* Top Nav Bar Social Icon Hover Colour Change */
#facebook-icon:hover {
    color: #4064ac !important;
}

#twitter-icon:hover {
    color: #1c9cea !important;
}

#instagram-icon:hover {
    color: #df4668 !important;
}

#linkedin-icon:hover {
    color: #0077b5 !important;
}

/* Nav Bar Font Size */
ul li a {
    font-family: Roboto Slab;
    font-size: 18px !important;
    font-weight: 550 !important;
}

ul li a:hover {
    color: #ffc000 !important;

}

.navbar-toggler-icon {
    background-color: #ffc000;
    color: white !important;
    border: none !important;
}

.navbar-toggler {
    padding: 0px !important;
}

/* Crousal Content Slider Css */
.carousel-control-prev :hover {
    background-color: #ffc000 !important;
}

.carousel-control-next-icon:hover {
    background-color: #ffc000;
}

.carousel-container {
    position: relative;
}

.carousel-content {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-40%, -50%);
    z-index: 1;
    color: black;
    text-align: center;
    padding: 20px;
}

.carousel-inner .carousel-item {
    position: relative;
}

.carousel-content h4 {
    font-size: 30px;
    font-family: Hind;
}

.carousel-content h3 {
    font-size: 10px;
    text-shadow: -4px 2px 3px #303030;
    font-style: normal;
    font-size: 35px;
    line-height: 58px;
    margin: 10px 0;
    color: #000;
    font-weight: 700;
    padding-left: 100px;
    font-family: Hind;
    text-align: center;

}

.carousel-content p {
    padding-left: 15%;
    text-align: start;

}

/* Crousal Footer Icon Telegram  */
.fa.fa-paper-plane:hover {
    color: white !important;

}

/* Slider Footer Here */
.call-to-action-btn-angle:before {
    content: '';
    position: absolute;
    left: -30px;
    z-index: 0;
    border-left: 30px solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 80px solid #ffc000;
    bottom: 0;
}

.call-to-action-btn-angle {
    background: #ffc000;
    min-height: 80px;
    padding: 28px 0;
    position: relative;
    text-align: center;
}

.call-to-action-title {
    color: #fff;
    margin: 0;
    padding: 25px 0;
    line-height: normal;
    font-size: 22px;
    text-transform: capitalize;
}

.call-to-action {
    background-color: black;
    padding: 0;
}

.call-to-action-btn-angle:after {
    content: "";
    position: absolute;
    background: #ffc000;
    display: block;
    height: 100%;
    top: 0
}

/* About Section Here */
.more-information-btn:hover {
    color: #000 !important;
}

#content {
    font-family: poppins;
    text-align: justify !important;
    font-size: 20px;
    line-height: 1.5;
    color: #333;
    font-weight: 500;
}

.btn-animated {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-animated:active {
    transform: translateY(5px);
    box-shadow: none;
}

.activebtn {
    background-color: #ffc000 !important;
}


/* Fixed Button Bottom to Top */
#scrollToTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

#scrollToTopButton button {
    background-color: #191919;
    color: #ffc000;
    ;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#scrollToTopButton button:hover {
    background-color: #191919;
}


/* WhatsApp Icon Css Here */
.whatsapp-icon {
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 999;
}

.whatsapp-icon img {
    width: 60px;
    height: auto;
}